<div class="sec" id="s7">
  <div class="sh"><div class="si">🔀</div><div><div class="st">Interconnexion et/ou communication à des tiers</div><div class="ss">Section 6 — <span class="bdg bb">form_interconnexion</span></div></div></div>
  <div class="blk">
    <div class="fld">
      <div class="fl">Communiquez-vous des données à des tiers ? <span class="req">*</span></div>
      <div class="pg" id="pg-com_tiers">
        <label class="po" onclick="selR('com_tiers','Oui',this)"><div class="pd"></div>Oui / نعم</label>
        <label class="po" onclick="selR('com_tiers','Non',this)"><div class="pd"></div>Non / لا</label>
      </div>
      <div class="em" id="em-com_tiers">Champ obligatoire</div>
    </div>
  </div>
  <div id="ic-c"></div>
  <button class="ba" onclick="addIC()">+ Ajouter un organisme destinataire</button>
  <div class="nf"><button class="btn bs" onclick="prevS('s7','s6')">← Précédent</button><button class="btn bp" onclick="nextS('s7','s8')">Suivant →</button></div>
</div>
